.Content {
    margin: 0 auto;
    padding: 20px;
    max-width: 1100px;
    min-height: 750px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}